html {
  font-family: 'Helvetica';
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
  background-color: #31b2c3;
  margin: 0 auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#info div {
  float: left;
  text-align: center;
  padding: 10px 0 10px 0;
  min-width: 12.5%;
}

#info div:hover {
  background: #00C853;
  transition: 0.2s ease-in-out;
}

#info div p {
  margin-top: 5px;
  max-width: 200px;
}

img {
  padding: 5px;
  width: 200px;
  height: 300px;
}

.movieOptions {
  width: 60%;
  margin: 0 auto;
}

.categories {
  height: 40px;
  width: 32.5%;
  padding: 0;
  cursor: pointer;
  font: bold 15px Arial, Helvetica;
  color: #fafafa;
  text-transform: uppercase;
  background-color: #F22613;
  background-image: linear-gradient(top, #31b2c3, #0483a0);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 1px 0 #fff;
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}

.categories:hover,
.categories:focus {
  /*background-color: #31b2c3;*/
  
  background-image: linear-gradient(top, #0483a0, #31b2c3);
}

.categories:active {
  outline: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

.categories::-moz-focus-inner {
  border: 0;
}

#display {
  width: 70%;
  padding: 1em;
  height: 350px;
  background: #00C853;
  margin: 50px auto;
  box-shadow: inset 0 2px 3px rgba(255, 255, 255, 0.3), inset 0 -2px 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(255, 255, 255, 0.9);
  transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
}
/*#display:hover, 
#display:focus {
    background-color: #31b2c3;
    background-image: linear-gradient(top, #0483a0, #31b2c3);
}*/

#display img {
  float: left;
  margin-right: 10%;
  margin-top: 1%;
}